<header>
    <div class="navigation-logo">&nbsp;</div>

    <nav>
        <ul>
            <li {{#if navTabIndex}}class="current_page_item"{{/if}}><a href="/">About</a></li>
            <li {{#if navTabCarOwner}}class="current_page_item"{{/if}}><a href="car-owner">Car Owner</a></li>
            <li {{#if navTabProfessional}}class="current_page_item"{{/if}}><a href="professional">Professional</a></li>
        </ul>
    </nav>

    <div class="login-button"><a href="/login">Login</a></div>
</header>