<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<script type="text/javascript" src="/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/jquery.showPassword.min.js"></script>
<script type="text/javascript" src="/scripts/jquery.validate.min.js"></script>
  
<script type="text/javascript" src="/scripts/jk-core.js"></script>

<body>
    <div id="wrap">

      {{{body}}}

      {{> footer }}

    </div>
</body>
</html>
