<div id="main-container">
  <div id="header">
    <div id="navigation-container">
      <div id="navigation-logo">&nbsp;</div>
      <div id="navigation">
        <ul>
          <li><a href="/">About</a></li>
          <li class="current_page_item"><a href="car-owner">Car Owner</a></li>
          <li><a href="professional">Professional</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="content-car-owner">
    <div>
      <h2>Owning a vehicle is one of the greatest experience in life. But ...</h2>
    </div>
  </div>
</div>