<main id="content-car-owner">

    <section class="content-center" style="width: 1024px; height: 720px;">
        <section class="content-west" style="width: 55%; line-height: 15px;">
            <div class="feature-bar">
                <div class="badge" style="background-image: url(../images/icon-car-profile.png);">&nbsp;</div><div class="feature-bar-title">Car Profile</div>
            </div>
            <div class="feature-bar">
                <div class="badge" style="background-image: url(../images/icon-dignostic.png);">&nbsp;</div><div class="feature-bar-title">Diagnostic</div>
            </div>
            <div class="feature-bar">
                <div class="badge" style="background-image: url(../images/icon-wheel.png);">&nbsp;</div><div class="feature-bar-title">Wheels Assistant</div>
            </div>
            <div class="feature-bar">
                <div class="badge" style="background-image: url(../images/icon-tire.png);">&nbsp;</div><div class="feature-bar-title">Tire Change</div>
            </div>
            <div class="feature-bar">
                <div class="badge" style="background-image: url(../images/icon-oil-change.png);">&nbsp;</div><div class="feature-bar-title">Oil Change</div>
            </div>
        </section>
        <section class="content-east" style="width:40%; font-size:18px;">
            <div><h2>1. Sign up your account today</h2></div>
            <div><h2>2. Creating vehicle profiles for your garage</h2></div>
            <div><h2>3. Manage your vehicle maintenance</h2></div>

            <div style="padding: 30px 0px;"><i>"Owning a vehicle is one of the greatest experience in life. "</i></div>

            <div class="signup-button" style="margin: 30px 88px;"><a href="/signup">Sign Up</a></div>
            <div>If you already have an account <a href="">Log in</a> here</div>
        </section>
    </section>

</main>