<div id="wrap">
  <div id="main-container">
    <div id="header">
      <div id="navigation-container">
        <div id="navigation">
          <ul>
            <li class="current_page_item"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contacts</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div  id="content">
      
    </div>
  </div>

  <footer>
    <div class="footerlinks"> Ⓒ 2022 Copyright by <a href="http://legal.jumkid.com">jumkid.com</a>  All rights reserved</div>
 </footer>

</div>