<div id="content-about">
    <section class="content-center" style="width: 1024px; height: 720px;">
        <section class="content-west" style="width: 55%; line-height: 15px;">

        </section>

        <section class="content-east" style="width:40%; font-size:18px;">
            <div><h2>Jumkid</h2></div>
            <div>is online software tool to help car owner </div>
        </section>

    </section>
</div>