<div id="main-container">
  <div id="header">
    <div id="navigation-container">
      <div id="navigation-logo">&nbsp;</div>
      <div id="navigation">
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="car-owner">Car Owner</a></li>
          <li><a href="professional">Professional</a></li>
        </ul>
      </div>
      <div class="login-button"><a href="login">Login</a></div>
    </div>
  </div>

  <div id="content-about">
     <div id="content-center" style="width: 860px; height: 660px;">
      <div><h2>User Login</h2></div>
      <div> ... </div>
    </div>
  </div>
</div>