<script type="text/javascript" src="/scripts/jk-user.js"></script>

<main id="content-signin">

    <section class="content-center" style="width: 1024px; height: 720px;">
        <div><h3><I>"The cars we drive say a lot about us  -- Alexandra Paul"</I></h3></div>
        <div>
            <form class="signup-form" action="#">
                <ol>
                    <li>
                        <label for="username" class="label-left">Username</label>
                        <input type="text" name="username" />
                    </li>
                    <li>
                        <label for="password" class="label-left">Password</label>
                        <input type="password" name="pswd" />
                    </li>
                    <li class="buttons">
                        <button type="submit" name="enter" class="submit">login</button> &nbsp;&nbsp;
                        | &nbsp;&nbsp;
                        Go to <a href="/signup">Signup</a> if you don't have an account yet
                    </li>
                </ol>

            </form>
        </div>

    </section>

</main>