<div id="main-container">
  <div id="header">
    <div id="navigation-container">
      <div id="navigation-logo">&nbsp;</div>
      <div id="navigation">
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="car-owner">Car Owner</a></li>
          <li><a href="professional">Professional</a></li>
        </ul>
      </div>
      <div class="login-button"><a href="login">Login</a></div>
    </div>
  </div>

  <div id="content-privacy">
     <div id="content-center" style="width: 860px; height: 100%; background-color: #ffffff !important;">
      <div><h1>Privacy Policy</h1></div>
      <div>
        <p>Your privacy is important to us and we are committed to protecting it.</p>
        <p>This Privacy Policy describes how we collect, use, store, share and protect your information both on our digital platform and with our partners. This Privacy Policy applies when you install the application, access any of the platforms, visit or use any of the services provided. This document is governed by the terms and conditions set forth in the Terms of Service located at <a href="https://www.jumkid.com" aria-invalid="true">www.jumkid.com</a>.</p>
        <p>By creating an account or simply accessing the platform, you expressly agree to the collection, use, disclosure and retention of your information as described in this document.</p>
        <p>If you purchase or access the Service through a third-party service that provides the application in your environment or only a link to the application on our servers, you will have a separate and additional account relationship with these third parties and this information will be treated accordingly their privacy policy agreed with them, and we have no relation of representative&nbsp;with these services, being entirely responsible for the use.</p>
        <p>If you don&rsquo;t agree to any changes occurred in this Privacy Policy, you may delete your account and all its data from screen "Profile" within the app.</p>
        <p>1. Information collected by Jumkid: we may collect and store any of the information provided with account creation, profile completion, registration of vehicles, registration of services or any use of any of our services as well as contact by email or any other channel.</p>
        <p>2. Information that you share in the service: Some of the information will be shared with other users of the services, such as your profile picture, your username, your opinions and comments about a service or partner, but we will not share personal data, such as registration numbers or public documents, your contact details and similars.</p>
        <p>3. Information automatically collected through the service: We may automatically collect information about you when you use the Service.</p>
        <p>If you access the Service through a mobile device, we will collect information about your geographic location. In addition, we may collect information such as the type of device, system version used, statistics for viewing pages and services, and the use of features, functions, or notifications on the device, even if you do not have an account created.</p>
        <p>If you access the Service through a computer, we may collect information such as your browser type and version, computer and connection information, statistics on pageviews, traffic to and from the service, IP address, and standard web log information.</p>
        <p>If you use the Service through a mobile device and you do not want us to collect your location information, change your preferences through the feature on your mobile device by disabling it. However, by doing this, some of the features of the Service that depend on location will not work well.</p>
        <p>4. Cookies: We may collect information automatically when you use the Service using "cookies". Cookies are small amounts of data that are stored in your computer's Internet browser and are accessed and logged by the sites you visit so they can recognize the same browser by browsing online later.</p>
        <p>Information that may be collected by cookies when you use the Service may include, without limitation:</p>
        <p>&bull; The pages you visit on the Service;</p>
        <p>&bull; The date and time of your visit to the Service;</p>
        <p>&bull; The amount of time you spent using the Service;</p>
        <p>&bull; The Internet Protocol (IP) address used to connect your computer to the Internet;</p>
        <p>&bull; Your computer and connection information, such as your browser type and version, operating system, and platform.</p>
        <p>You can set your browser to reject cookies or notify you when you send a cookie. However, if you disable cookies, you may not be able to use all features of the Service, including those features that are only available to registered members of the Service.</p>
        <p>5. Information provided by social networking services: By logging into the Service through a third-party social networking service such as Facebook or Twitter, you give us permission to access, store and use any information that enables the network service third-party social networks to share with us according to the privacy settings that are applicable to your account with this social network service. We encourage you to review and, if necessary, adjust your privacy settings to the applicable social networking service before logging into the Service through a social networking service. The information we receive from a third-party social networking service is stored and used by us in accordance with this Privacy Policy.</p>
        <p>6. Collection of information by third parties: If your access happens through third parties, the data collected by them may be used in accordance with their privacy policies and terms of service, and Jumkid is not responsible for any bad use of this information.</p>
        <p>The use of social networks from Jumkid, as well as their privacy, will depend solely and exclusively on the configuration of privacy configured in these social networks. We encourage you to review the privacy policies and settings on the social networking sites you interact with to make sure you understand the information that may be collected, used, and shared by those sites.</p>
        <p>Jumkid may include third-party advertising, links to other sites and other third-party content that will be generated based on your behavior, and there is no sharing of your personal information on Jumkid.</p>
        <p>Only behavioral data, grouped, can be shared, so any user&acute;s data can be identified. These sites, third-party advertisers and companies, or advertising companies working on your behalf, can use beacons and cookies to measure the effectiveness of your ads, customize or optimize advertising content, and track users who click on the links made available through the service. These third parties may use cookies and web beacons to track the actions of users online over time and on different websites or platforms to provide targeted electronic ads to an individual user.</p>
        <p>7. Use of information by Jumkid: We may use the information we collect about you through the Service to:</p>
        <ul>
        <li>Provide access to the Service and provide you with requested services and customer support in addition to processing and answering your questions;</li>
        <li>Customize, measure and improve our services, content and advertising and otherwise enhance your experience with the Service;</li>
        <li>Prevent, detect and investigate potentially prohibited or illegal activities and enforce the Jumkid Terms of Service;</li>
        <li>Analysis of the accuracy, effectiveness, usability or popularity of the Service;</li>
        <li>Generate and analyze reports and data about the user base and service usage patterns;</li>
        <li>Compile aggregate data for internal and external business purposes;</li>
        <li>Resolve disputes and solve problems;</li>
        <li>Contact us through any of the channels you have registered with information, promotional, marketing and advertising and recommendations that we believe may be of interest to you;</li>
        <li>Provide you with other services requested by you as described when we collect the information;</li>
        <li>Offer products and services that we consider relevant, according to their behavior or insertion of information;</li>
        <li>If you use the Service on a mobile device, we may send &ldquo;push notifications&rdquo; to your mobile device to provide updates about the Service and other relevant messages.</li>
        </ul>
        <p>8. Disclosure of information to third parties. Jumkid will not disclose individualized information to trading partners.</p>
        <p>9. Sending information and displaying ads from our partners: All communication by e-mail will comply with ABEMD rules, so there will be no SPAM. If you no longer wish to receive our communications by email, simply select this option in one of the shipments that we make.</p>
        <p>Regarding bid notifications, they should be disabled in the Settings area of your Android or iOS.</p>
        <p>If you detect any SPAM, please contact us at support@jumkid.com.</p>
        <p>10. Place of information storage: your information will be stored on a cloud for better synchronization between the platforms and also to prevent loss of your data if you change your device.</p>
        <p>11. Account and all the data related to the account can be deleted by going to screen "Profile" then clicking the button "Delete my account". This action is irreversible and you will no longer be able to access your account.</p>
      </div>
    </div>
  </div>
</div>