<div id="main-container">
  <div id="header">
    <div id="navigation-container">
      <div id="navigation-logo">&nbsp;</div>
      <div id="navigation">
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="car-owner">Car Owner</a></li>
          <li class="current_page_item"><a href="professional">Professional</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="content-professional">
    <div>
      <h2>Work as a professional in automobile industry is exciting and fun. Yet, a lot of challenging are coming in everyday.</h2>
    </div>
  </div>
</div>