<div id="main-container">
  <div id="header">
    <div id="navigation-container">
      <div id="navigation-logo">&nbsp;</div>
      <div id="navigation">
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="car-owner">Car Owner</a></li>
          <li class="current_page_item"><a href="professional">Professional</a></li>
        </ul>
      </div>
      <div class="login-button"><a href="login">Login</a></div>
    </div>
  </div>

  <div id="content-professional">
    <div id="content-center" style="width: 860px; height: 660px;">
      <div id="content-west" style="width: 55%; line-height: 15px;">
        <div class="feature-bar">
          <div class="badge" style="background-image: url(../images/icon-garage.png);">&nbsp;</div><div class="feature-bar-title">Repair Garage</div>
        </div>
        <div class="feature-bar">
          <div class="badge" style="background-image: url(../images/icon-main-schedule.png);">&nbsp;</div><div class="feature-bar-title">Maintenance Scheduler</div>
        </div>
      </div>
      <div id="content-east" style="width:40%; font-size:18px;">
        <div><h2>1. Publish your repair garage</h2></div>
        <div><h2>2. Help customer engage your professional service</h2></div>
        <div><h2>3. Schedule repair job</h2></div>
        
        <div style="padding: 30px 0px;"><i>"Working in automobile industry is exciting and charllenging. "</i></div>

        <div>Sign up now to get handy tools to deliver your professional services</div>
        <div><a href="">Sign Up</a></div>
        <div><h3>If you already have an account <a href="">Log in</a> here</h3></div>
      </div>
    </div>
  </div>
</div>