<script type="text/javascript" src="/scripts/jk-user.js"></script>

<div id="main-container">
  {{> header}}

  <div id="content-about">
     <div id="content-center" style="width: 860px; height: 660px;">
      <div><h1>Sign Up</h1></div>
      <div>
          <form id="signup_form" action="#">
            <div><h3>New Car Owner</h3></div>
            <ol>
                <li>
                    <label for="username" class="label-left">Username</label>
                    <input type="text" name="username" />
                </li>
                <li>
                    <label for="email" class="label-left">Email</label>
                    <input type="text" name="email"/>
                </li>
                <li>
                    <label for="password" class="label-left">Password</label>
                    <input type="password" name="pswd" />
                </li>
                <li>
                    <label for="cPassword" class="label-left">Confirm Password</label>
                    <input type="password" name="cpswd" />
                </li>
                <li class="buttons">
                     <button type="submit" name="enter" class="submit" id="signup-submit-btn">Submit</button> &nbsp;&nbsp;
                    | &nbsp;&nbsp;
                    Go to <a href="#">Login</a> if already signs up
                </li>
            </ol>
          </form>
      </div>
    </div>
  </div>
</div>