/* General Element Styles */
body {
	font: 12px cera-round-pro, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	padding: 0;
	margin: 0;
	background: #111;
}
a {
	color: #FFFFFF;
}
a:hover {
	color: #C41407;
}
a img {
	border:0;
}
blockquote {
	font-style:italic;
	margin:5px;
	border-left:5px solid #C41407;
	padding-left:5px;
}
h2 {
	margin-top:0;
	font-size:16px;
}
h2 a:hover, h2 a:visited, h2 a {
	text-decoration: none;
}
h3 {
	margin:0;
	font-size:14px;
}
input {
	background: #ddd;
	border-radius: 10px;
	border: 1px solid #bbb;
	box-shadow: -1px 0 1px rgba(0,0,0,0.25);
	font: inherit;
	font-size: 18px;
	height: 20px;
	margin: 0;
	-moz-border-radius: 10px;
	-moz-box-shadow: -1px 0 1px rgba(0,0,0,0.25);
	outline: none;
	padding: 10px 15px;
	position: relative;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: -1px 0 1px rgba(0,0,0,0.25);
	width: 193px;
}
input:focus {
	background: #eee;
}
button {
	background: #eee;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0,0,0,0.25);
	color: #777;
	cursor: pointer;
	font: inherit;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.25);
	overflow: visible;
	padding: 5px 10px;
	text-transform: lowercase;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.25);
	width: auto;
}
img.centered {
	display: block;
}
img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
}
img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
}

form {
	font-size: 16px;
	border-radius: 10px;
	margin: 40px auto;
	-moz-border-radius: 10px;
	overflow: hidden;
	padding: 40px;
	-webkit-border-radius: 10px;
}

/* header */
header {
	height: 53px;
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	float: none;
	background-color: #C41407;
}
header h1
{
	font:36px 'times new roman';
	text-align:center;
	padding-left:630px;
	padding-top:65px;
	font-weight:bold;
	width:350px;
}
header h1, h1 a, h1 a:visited {
	text-decoration: none;
	margin:0;
	color:#ffffff;
}
header h1 a:hover {
	text-decoration: none;
	color:#ffffff;
}
header .navigation-logo {
	float: left;
	display: block;
	height: 38px;
	width: 128px;
	padding: 0 0 0 0;
	margin: 4px 6px 0 16px;
	background: url(../images/logo-jumkid-white.png) no-repeat top left;
	background-size: contain;
}
/* header end*/

/* navigation */
nav{
	float: left;
	display: block;
	height: 100%;
	font-size: 16px;
	padding: 0 0;
	margin: 0 38px 0 338px;
	font-family: Verdana, arial, serif;
}
nav ul{
	margin: 0 0;
	padding: 0 0 0 20px;
	list-style-type: none;
	width: auto;
	float: left;
}
nav ul li{
	display: block;
	float: left;
	margin: 0 0;
	padding: 0 0;
}
nav ul li a{
	display:block;
	float:left;
	color:#ffffff;
	height: 36px;
	padding: 17px 10px 0 10px;
	text-align: center;
	text-decoration:none;
}
nav ul li a:hover, nav ul li.current_page_item a{
	color: #4d4d4d;
	background-color: #f4d2cb;
	text-align: center;
	padding: 17px 10px 0 10px;
}
/* navigation end*/

#wrap {
	clear: both;
	width: 100%;
	height: 100vh;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#content-about {
	padding: 18px 0 18px 20px;
	margin: 0 0 0 0;
	color: #ffffff;
	background:url(../images/center-wallpaper.jpeg) no-repeat top center #000000;
}
#content-car-owner {
	padding: 18px 0 18px 20px;
	margin: 0 0 0 0;
	color: #ffffff;
	background:url(../images/wp-owner-garage.jpg) no-repeat top center #000000;
}
#content-professional {
	padding: 18px 0 18px 20px;
	margin: 0 0 0 0;
	color: #ffffff;
	background:url(../images/wp-workshop.jpg) no-repeat top center #000000;
}
#content-privacy {
	font-size: 18px;
	padding: 18px 0 18px 20px;
	margin: 0 0 0 0;
	color: #000000;
	background-color: #000000;
}

section.content-center {
	margin: auto;
	border: 0 solid rgb(255, 255, 255);
	border-radius: 25px;
	padding: 20px 20px;
	background-color: rgba(0, 0, 0, 0.5);
}
section.content-center div {
	margin: 5px 5px;
}
section.content-west {
	float: left;
	height: 100%;
}
section.content-east {
	float: left;
	height: 100%;
}

/* feature-bar and badge */
.feature-bar {
	display: inline-block;
	width: 393px;
	height: 104px;
	margin: 0 5px;
	padding: 0 0 0 0;
	background-color: #ffffff;
	border-radius: 56px 56px 56px 56px;
	color: #000000;
	vertical-align: middle;
}
.feature-bar-title {
	float: left;
	padding: 40px 10px;
	font-size: 24px;
}
.badge {
	float: left;
	width: 83px;
	height: 83px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 60px;
	background-color: #ffffff;
	border-radius: 50%;
	border: 6px solid #C41407;
	resize: both;
}

/* feature-bar & badge end */

.signup-button {
	width: 123px;
	height: 38px;
	margin: 7px 13px;
	padding: 0 0 0 0;
	background-color: #ffffff;
	border-radius: 56px 56px 56px 56px;
	vertical-align: middle;
	background-image: url(../images/icon-signup.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.login-button {
	float: right;
    width: 93px;
    height: 38px;
    margin: 7px 13px;
    padding: 0 0 0 0;
    background-color: #ffffff;
    border-radius: 56px 56px 56px 56px;
    vertical-align: middle;
    background-image: url(../images/icon-login.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.login-button a, .signup-button a{
	color: #000000;
    margin-left: 40px;
    font-size: 18px;
    line-height: 36px;
}
.login-button a:hover, .signup-button a:hover{
	color: #C41407;
}

/* Signup form */
#signup-form {
	width: 780px;
	list-style: none;
	background-color: rgba(0, 0, 0, 0.66);
}
#signup-form ol {
	margin: 20px 0 30px 0;
	padding: 0 0 0 0;
}
#signup-form li {
	position: relative;
	margin-bottom: 5px;
	overflow: hidden;
	width: 100%;
}
#signup-form input {
	float: left;
	width: 248px;
}
#signup-form button {
	margin: 28px 0 0 279px;
	font-weight: bold;
}
#signup-form button:hover {
	background-color: #C41407;
	color: #eee;
}
#signup-form button:active {
	background-color: #eee;
	color: #777;
}
#signup-form label {
	background: #cecece;
	cursor: pointer;
	display: block;
	margin: 7px 0 0;
}
#signup-form label.error {
	color: #FFF;
	padding: 3px 10px 3px 5px;
	font-size: 13px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	float: left;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	max-width: 190px;
	background-color: #C41407;
}
.label-left {
	color: #666;
	padding: 5px 15px 5px 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	cursor: pointer;
	float: left;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	text-transform: uppercase;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	width: 188px;
}
.show-password-link {
	display: block;
	position: absolute;
	z-index: 11;
	background-color: #777;
	padding: 5px;
	-webkit-border-radius: 5px;
	text-decoration: none;
}
.show-password-link :hover {
	color: #FFF;
}
.password-showing {
	position: absolute;
	z-index: 10;
}
/* end */

/* Post Related */
.post-container
{
	float:left; 
	width:600px; 	
	margin-top: 0;
}
.post {
	width:594px;
	margin:0;
	padding-top:0;
	color:#323232;
	float:none;
	display:block;
	margin-bottom: 30px;
	clear:both;	
	background:url(../images/post-bg.gif) repeat-y left ;
}
.posttop {
	width:594px;
	height:60px;
	color:#e5e5e5;
	padding-top:15px;
	background:url(../images/post-top.gif) no-repeat top left;
}

.post p {
	margin: 0;
}


.post a:hover {
	color:#000000;
}

.posttop h2 {
	font: 16px arial;
	text-align:left;
	overflow:visible;
	margin-bottom:10px;
	padding:0;
	float:left;
	font-weight:bold;
	margin-left:10px;
	width:550px;
	border-bottom:2px dotted #FFFFFF;
}
.posttop h2 a {
	color:#ffffff;
}


.postinfo {
	width:560px;
	clear:both;
	color:#111111;
	font-size:11px;
	padding:5px 10px 0 10px;
	line-height:40px;
}

.postinfo a {
	text-decoration:none;
	color:#C41407;
}

.postinfo a:hover {
	color:#C41407;
	text-decoration:underline;
}

.postinfo .posted {
	float:left;
	background:url(../images/filled.gif) no-repeat left;
	padding-left:18px;
	padding-bottom:10px;
	margin-right: 0;
}

.postinfo .published {
	float:right;
	background:url(../images/date.gif) no-repeat left;
	padding-left:20px;
	width:120px;
	padding-bottom:10px;
	margin-right: 0;
}

.postbottom {
	font-size:11px;
	color:#C41407;
	text-align:left;
	width:594px;
	padding:0;	
	height:40px;
	background:url(../images/post-bottom.gif) no-repeat bottom left;
	
}

.postbottom a {
	text-decoration:none;
	color:#111111;	
}
.postbottom a:hover {
	text-decoration:underline;
	color:#111111;
}
.postbottom .comments {
	float:right;
	background:url(../images/comments.gif) no-repeat left bottom;
	height:16px;
	position:relative;
	padding:15px 20px 0 20px;
}
.postbottom .rssfeed {
	float:left;
	display:none;
	background:url(../images/rssfeed.gif) no-repeat left ;
	height:16px;
	padding:13px 0 0 20px;
	margin-left:7px;
}

.navigation a {
	color:#C41407;
	text-decoration:none;
}
.navigation a:hover 
{
	color:#C41407;
	text-decoration:underline;
}

.navigation {
	text-align:left;
	width:530px;
	float:left;
	font-size:12px;
}

.alignright {
	float: right;
}
.alignleft {
	float: left
}
.navigation .alignright {
	margin-bottom:10px;
}
.navigation .alignleft {
	margin-bottom:10px;
}	

.pagetitle{
	font: bold 26px verdana;
	margin-top:0;	
	margin-bottom:5px;
	text-align:left;
	color:#C41407;
	overflow:visible
}
.entry {
	font: 12px arial,verdana,sans-serif;
	padding-right:20px;
	padding-left:15px;
	padding-bottom:10px;
	text-align:justify;
	clear:both;
	
}
.entrytext .postmetadata {
	font: 12px arial,verdana,sans-serif;
}
.more-link {
	font: 10px arial,verdana,sans-serif;
}

/* Sidebar Related */
#sidebars-area{
width:368px;
float:left;
}
#sidebars{
width:368px;
padding-left:10px;
float:left;
}

#sidebar {
	width:160px;
	padding-left: 0;
	margin-top: 0;
	margin-left: 0;
	float:left;
}

#sidebar ul {
	margin: 0 ;
	padding: 0;	
	width:160px;
	
	
}
#sidebar ul h2{
	font:14px 'times new roman';
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	padding:10px 0 0 0;
	height:33px;
	margin:0;
	border:none;
	background:url(../images/topbar.gif) no-repeat top left;
}

#sidebar ul li {
	list-style-type: none;
	list-style-image: none;
	margin:0;
	padding:0;	
}
#sidebar ul li ul {
	margin: 0 0 10px 0;
	padding:0;
}
#sidebar ul ul li {
	list-style-type: none;
	margin-left: 0;
	list-style-image: none;
	color:#c4c4c4;
	padding:5px 0 5px 0;
	margin-left: 10px;
	font:12px arial;
	width:150px;
	
}
#sidebar ul ul ul li {
	list-style-type: disc;
	padding:0;
	margin-left:5px;
	color:#c4c4c4;	
}
#sidebar p {
	margin:0;
	font: 10px arial,verdana,sans-serif;
}
#sidebar a {
	color:#c4c4c4;
	text-decoration:none;	
}
#sidebar a:hover {
	text-decoration:underline;	
}



#sidebar2 {
	width:160px;
	padding-left:20px;
	margin-top: 0;
	margin-left: 0;
	float:left;
}

#sidebar2 ul {
	margin: 0 ;
	padding: 0;	
	width:160px;
	
	
}
#sidebar2 ul h2{
	font:14px 'times new roman';
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	padding:10px 0 0 0;
	height:33px;
	margin:0;
	border:none;
	background:url(../images/topbar.gif) no-repeat top left;
}

#sidebar2 ul li {
	list-style-type: none;
	list-style-image: none;
	margin:0;
	padding:0;	
}
#sidebar2 ul li ul {
	margin: 0 0 10px 0;
	padding:0;
}
#sidebar2 ul ul li {
	list-style-type: none;
	margin-left: 0;
	list-style-image: none;
	color:#c4c4c4;
	padding:5px 0 5px 0;
	margin-left:10px;
	font:12px arial;
	width:150px;
	
}
#sidebar2 ul ul ul li {
	list-style-type: disc;
	padding:0;
	margin-left:5px;
	color:#c4c4c4;	
}
#sidebar2 p {
	margin:0;
	font: 10px arial,verdana,sans-serif;
}
#sidebar2 a {
	color:#c4c4c4;
	text-decoration:none;	
}
#sidebar2 a:hover {
	text-decoration:underline;	
}

/* User Comment Specific */
#comment
{
border:1px solid #333333;
color:#333333;
background:#ffffff;
height:160px;
width:450px
}
#respond
{
	padding-left:10px;
}
#commentform
{
	padding:10px;

}
#commentform input
{
color:#333333;
background-color:#ffffff;
border:1px solid #333333;
margin-bottom:5px;
}

/************************/
/*     Search Design    */
/************************/
#searchform{
display:none;
}
#s
{
	width:140px;
	font:12px tahoma;
	color:#c4c4c4;
}
#menu_search_box{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	font-size:11px;
	height:30px;
	float:left;
	position:absolute;
	top:370px;
	left:375px;
}

#menu_search_box input.s{
	width:175px;
	font-size:11px;
	color:#c4c4c4;
	padding:5px;	
	background:none;
	border:none;
	height:15px;
	float:left;
}
.searchttl{
padding-top:7px;
padding-left:5px;
height:25px;
float:left;
}
#menu_search_box span{
	position:relative;
	top:-1px;
	font-weight:bold;
}

/* footer */
footer {
	clear: both;
	color: #555555;
	font: 12px arial,verdana,sans-serif;
	text-align:left;
	height: 106px;
	position: relative;
	width: 100%;
	margin: 0 0 0 0;
}
.footer-links
{
	color:#ffffff;
	text-align:left;
	margin-top:50px;
	padding-left:50px;
	float:left;

}
.footer-links  a
{
	color:#e5e5e5;
	text-decoration:underline;

}
/* footer end*/